@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --main-background-color: rgb(19, 19, 19);
    --main-color: rgb(241, 241, 241);
    --second-color: rgb(193, 193, 193);
    --highlight-color: #41FF00;
    --main-font-size: 22px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background: var(--main-background-color);
    color: var(--main-color);
    font-size: var(--main-font-size);
    font-family: 'Noto Sans Mono', 'Consolas', monospace;
    line-height: 1.5;
    scroll-behavior: smooth;
}
div.content {
    font-size: 1rem;
    font-weight: 300;
    display: grid;
    grid-template-columns: 250px auto;
    align-content: flex-start;
}

h1 {
    margin: 10px 0 30px 0;
    font-weight: 900;
    font-size: 2.7em;
}
h2 {
    margin: 10px 0 25px 0;
    font-weight: 800;
    font-size: 1.8em;
}
h3 {
    margin: 10px 0 15px 0;
    font-weight: 700;
    font-size: 1.2em;
}   
h4 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 1.1em;
}
p {
    max-width: 900px;
    margin-bottom: 10px;
    color: var(--second-color);
}
main {
    padding: 0 40px 20px 100px;
}
nav {
    padding: 200px 0 0 50px;
    color: var(--main-color);

}
nav ul {
    position: fixed;
    top: 220px;
}
ul {
    list-style: none;
}
li {
    display: block;
    margin-bottom: 5px;
}
section {
    margin-bottom: 60px;
}
a {
    display: inline-block;
    font-weight: 600;
    color: var(--main-color);
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms;
}
#project a {
    color: var(--highlight-color);
    text-decoration: underline;
}
b {
    font-weight: 700;
}
a:hover {
    color: var(--highlight-color);
    text-decoration: underline;
    transform: translateX(10px);
}
main > section {
    padding-top: 120px;
}
#about #img-tim {
    font-size: 10px;
    line-height: 1.4;
    font-family:'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace; 
    white-space: pre;
    margin: 80px 0;
}
#team img {
    width: 100%;
    max-width: 250px;
}
#team-members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#team-members article {
    text-align: center;
    padding: 30px 20px;
}
#team-members article .img {
    text-align: center;
}
#team-members article .name {
    font-size: 0.8em;
    margin-top: 15px;
}
#team-members article .roles {
    font-size: 0.8em;
}
#documents ul {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#documents a {
    font-weight: 400;
    font-style: italic;
}
#contact {
    padding-bottom: 200px;
}
footer {
    margin: 40px;
    text-align: center;
    
}
footer p {
    margin: auto;
}

@media screen and (max-width: 1450px) {
    #team-members {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1200px) {
    main {
        padding-left: 40px;
    }
    #team-members {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 1100px){
    body, div.content {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 1000px) {
    #documents ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 900px) {
    div.content {
        display: block;
    }
    nav {
        display: none;
    }
    #about {
        padding-top: 80px;
    }
    
}

@media screen and (max-width: 650px) {
    #team-members {
        grid-template-columns: 1fr;
    }
    body, div.content {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 600px) {
    #documents ul {
        grid-template-columns: 1fr 1fr;
    }
}



/*img*/
@media screen and (max-width: 1520px) {
    #about #img-tim {
        font-size: 9px;
    }
}
@media screen and (max-width: 1420px) {
    #about #img-tim {
        font-size: 8px;
    }
}
@media screen and (max-width: 1300px) {
    #about #img-tim {
        font-size: 7px;
    }
}
@media screen and (max-width: 1140px) {
    #about #img-tim {
        font-size: 6px;
    }
}
@media screen and (max-width: 1040px) {
    #about #img-tim {
        font-size: 5px;
    }
}
@media screen and (max-width: 640px) {
    #about #img-tim {
        font-size: 4px;
    }
}
@media screen and (max-width: 540px) {
    #about #img-tim {
        font-size: 3px;
    }
}
@media screen and (max-width: 420px) {
    #about #img-tim {
        font-size: 2px;
    }
}

#documents ul.methods {
    display: block;
}




/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #2a2a2a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(78, 78, 78);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(134, 134, 134);
}