@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --main-background-color: rgb(19, 19, 19);
    --main-color: rgb(241, 241, 241);
    --second-color: rgb(213, 213, 213);
    --highlight-color: rgb(241, 209, 255);
    --main-font-size: 22px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background: var(--main-background-color);
    color: var(--main-color);
    font-size: var(--main-font-size);
    font-family: 'Consolas', 'Noto Sans Mono', monospace;
    line-height: 1.5;
}
body {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 250px auto;
    align-content: flex-start;
    padding-bottom: 200px;
}
@media screen and (max-width: 1000px) and (min-width: 600px) {
    body {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 600px)  {
    body {
        font-size: 0.8rem;
    }
}
h1 {
    margin: 10px 0 30px 0;
    font-weight: 900;
    font-size: 2.7em;
}
h2 {
    margin: 10px 0 25px 0;
    font-weight: 800;
    font-size: 1.8em;
}
h3 {
    margin: 10px 0;
    font-weight: 700;
    font-size: 1.2em;
}   
h4 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 1.1em;
}
p {
    max-width: 900px;
    margin-bottom: 10px;
    color: var(--second-color);
}
main {
    padding: 0 40px 20px 100px;
    height: 100%;
}
nav {
    padding: 200px 0 0 50px;
    color: var(--main-color);

}
nav ul {
    position: sticky;
    top: 100px;
}
ul {
    list-style: none;
}
li {
    display: block;
    margin-bottom: 5px;
}
section {
    margin-bottom: 60px;
}
a {
    display: inline-block;
    font-weight: 600;
    color: var(--main-color);
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms;
}
a:hover {
    color: var(--highlight-color);
    text-decoration: underline;
    transform: translateX(10px);
}
#about {
    padding-top: 120px;
}
#about img {
    width: 100%;
    margin-bottom: 40px;
    max-height: 100vh;
}
#project {
    padding-top: 120px;
}
#team img {
    width: 100%;
    max-width: 250px;
}
#team-members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#team-members article {
    text-align: center;
    padding: 20px;
}
#team-members article .name {
    font-weight: 900;
    font-size: 1.2em;
    margin-top: 15px;
}
#team-members article .roles {
    font-size: 0.6em;
}
#documents {
    padding-top: 120px;
}
#documents ul {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1400px) {
    #team-members {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1200px) {
    main {
        padding-left: 40px;
    }
    #team-members {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 1000px) {
    #documents ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 800px) {
    body {
        display: block;
    }
    nav {
        display: none;
    }
    #about {
        padding-top: 80px;
    }
}
@media screen and (max-width: 500px) {
    #documents ul {
        grid-template-columns: 1fr 1fr;
    }
}